@import "tailwindcss";

.active{
    background-color: #2c2d68;
    @apply rounded-full;
    color: white;
}

.active , .non-active{
    @apply px-4 py-2 text-sm font-bold cursor-pointer text-nowrap;
}

.non-active:hover{
    background-color: #2c2d6815;
    @apply rounded-full;
    color: white;    
}

.nav-link{
    @apply flex gap-3;
}